{% extends "../base.html" %}

{% block content %}
	<h2>あれこれ詳細</h2>
	<h3>なにこれ？</h3>
	<p>ポケモンの耐久にあてる努力値配分を自動で計算してくれるプログラムです。
	<br/>オススメの配分を教えてくれます。
	<br/>素早さ抜き調整用に素早さへの努力値配分も教えてくれます。
	</p>
	<p>自分が計算めんどうだなぁと思ったから作っただけ。
	<br/>そしてどこからでもアクセス出来るようにしたかっただけ。
	<br/>それだけ。
	</p>
	<p>Google App Engine Oil(GAEO) + Python で動いています。
	</p>
	<h3>免責</h3>
	<p>自己責任でよろしく！
	<br/>間違ってたらごめんなさい☆
	</p>
	<h3>「最も固い」の定義</h3>
	<p>「攻撃（特攻）200」のポケモン<small>（※１）</small>から「威力150」<small>（※２）</small>の技を受けた時、
	<br/>ダメージ / HP * 1000 (端数切り捨て) が最も低い。
	<br/>同じ値になったときは、<del>HPへの努力値配分</del>ダメージが低いものを優先。
	</p>
	<p>両受けに関しては、上記定義に加え、
	<br/>物理・特殊のダメージの差が HP / 16（端数切捨て）の範囲に収まること。
	</p>
	<p>※１: 種族値130、個体値31、努力値252で、性格による上昇補正を受けたレベル50のポケモンに相当。
	<br/>※２: 不一致もろはのずつき, 一致じしん, 一致ストーンエッジ, 一致コメットパンチ など。
	</p>
	<h3>バージョン情報</h3>
	<dl>
		<dt>ver.0.1.3a - 2011.5.29</dt>
		<dd>「素早さ抜き」努力値252で素早さが抜ける場合、抜けないと判断してしまう不具合を修正した</dd>
		<dt>ver.0.1.3 - 2011.5.7</dt>
		<dd>スマートフォンでの表示・入力を改善した</dd>
		<dd>個体値の初期入力値を なし → 31 にした</dd>
		<dd>あれこれ詳細ページを作成した</dd>
		<dt>ver.0.1.2 - 2011.4.29</dt>
		<dd>「残り耐久」特防の努力値配分が255を超える不具合を修正した</dd>
		<dt>ver.0.1.1 - 2011.4.3</dt>
		<dd>スマートフォンからの入力がしやすいように変更した(inputタグのHTML5対応)</dd>
		<dt>ver.0.1.0 - 2011.3.6</dt>
		<dd>「残り耐久」をGoogle App Engine上に移植した</dd>
		<dd>上記に伴い、PHP版のサービスを停止した</dd>
		<dt>ver.0.0.3b - 2011.3.5</dt>
		<dd>「素早さ抜き調整」をGoogle App Engine上に移植した</dd>
		<dt>ver.0.0.3a - 2011.2.27</dt>
		<dd>素早さ抜き調整について、「こだわり」以外の補正を追加した</dd>
		<dd>上記に伴い、「こだわり」→「↑」に表記を変更した。</dd>
		<dd>「補正」→「性格補正」に、「アイテム」→「その他補正」に表記を変更した。</dd>
		<dd>その他補正前の素早さとその他補正後の素早さの両方を表示するようにした。</dd>
		<dt>ver.0.0.3 - 2011.2.20</dt>
		<dd>名称を変更した。「耐久に努力値割り振り器」→「残り耐久」</dd>
		<dd>素早さ抜き調整を追加した。</dd>
		<dt>ver.0.0.2b - 2010.1.24</dt>
		<dd>ケータイにて、デフォルトで数字入力になるようにした。</dd>
		<dt>ver.0.0.2a - 2010.1.11</dt>
		<dd>配分する努力値の最大値を少し修正した。</dd>
		<dt>ver.0.0.2 - 2009.12.23</dt>
		<dd>タイトルを表示した。</dd>
		<dd>ダメージを計算できるようにした。</dd>
		<dt>ver.0.0.1a - 2009.12.14</dt>
		<dd>物理ダメージ、特殊ダメージともに表示するようにした。</dd>
		<dd>ソースコードを書き換えた。</dd>
		<dt>ver.0.0.1 - 2009.12.12</dt>
		<dd>とりあえずアップした。</dd>
	</dl>
	<p><a href="../">トップに戻る</a>
{% endblock %}

<!-- this page is related to controller/welcome.py -->
